h2
{
    margin-top: 0;
}

img
{
    width: 100%;
}


.boxMenu
{
    width: 100%;
    position: relative;
}

.containerButton
{
    font-size: 20px;
    border-radius: 4em;
    background-color: transparent;
}

.containerDescription
{
    position: absolute;
    left: 50.7%;
    width: 35%;
    padding: 10% 7% 14.1% 7.17%;
}

.containerImage
{
    width: 22%;
    left: 28.6%;
    position: absolute;
}

.descriptionCV
{
    border: 1px solid green;
    top: 98.7%;
}

.descriptionHobbie
{
    border: 1px solid blueviolet;
    top: 156.3%;
    
}


.imageCV
{
    border: 1px solid purple;
    top: 98.7%;  
}

.imageHobbie
{
    border: 1px solid yellow;
    top: 156.3%;  
}

.inicio
{
    border: 1px solid blue;
    position: absolute;
    left: 28.4%;
    right: 0;
    width: 60%;
    padding: 20% 5% 23.1% 7%;
}

.menu
{
    border: 1px red solid;
    text-align: right;
    width: 25%;
    position: fixed;
    padding: 17% 2% 20.5% 1%;
}

.menu a
{
    display: block;
    color: blue;
    font-size: 30px;
    text-decoration: none;
    border-bottom: 1px solid;
    padding: 1.5%;
    margin-left: 15%;
    
}

.myButtonDescription
{
    width: 40%;
}

.myButtonProfile
{
    width: 20%;
}


